/* 
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
*/

body {
    background: url(../images/bg-mobile.svg) var(--Violet);
    background-repeat: no-repeat;
    background-size: contain;
}

/* .page */
body .page {
    padding: 3rem;
}


body .page header {
    margin-bottom: 5rem;
}
/* header img */
body .page header img {
    max-width: 50%;
}

/* .main-wrapper */
body .page main .main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}