/* 
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
*/

body {
    background: url(../images/bg-mobile.svg) var(--Violet);
    background-repeat: no-repeat;
    background-size: contain;
}

/* .page */
body .page {
    padding: 3rem;
}

/* HEADER */
body .page header {
    margin-bottom: 5rem;
}

/* header img */
body .page header img {
    max-width: 50%;
}

/* MAIN */

/* .main-wrapper */
body .page main .main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}

/* .main-text */
body .page main .main-wrapper .main-text{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    text-align: center;
}

body .page main .main-wrapper .main-text h1{
    font-family: 'Poppins', sans-serif;
    color: var(--White);
    font-size: 2.5rem;    
}
